<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
     <script>
        // Definir las palabras prohibidas
        const palabrasProhibidas = ["palabra1", "palabra2", "palabra3"];

        // Función para validar y reemplazar palabras prohibidas en el mensaje
        function validarMensaje(event) {
            let mensaje = document.querySelector('textarea[name="mensaje"]').value;
            for (let palabra of palabrasProhibidas) {
                const regex = new RegExp(`\\b${palabra}\\b`, 'gi');
                mensaje = mensaje.replace(regex, '*'.repeat(palabra.length));
            }
            document.querySelector('textarea[name="mensaje"]').value = mensaje;
        }

        // Asignar la función de validación al evento input del textarea
        document.addEventListener('DOMContentLoaded', () => {
            const textarea = document.querySelector('textarea[name="mensaje"]');
            textarea.addEventListener('input', validarMensaje);
        });
    </script>
</head>
<body>
    <header class="site-header">
        <img src="{% static 'imagenes/LOGO.png' %}" alt="Logo" class="header-icon">
        <h1>⚙️Gestor - Deustronic S. L.⚙️</h1>
        <form method="post" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Cerrar Sesión</button>
        </form>
    </header>

    <div id="content">
        <h2>Mensaje de soporte</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="contacto">
                <h2>Contacto</h2>
                <p>Email: Deustronic.SL@example.com</p>
                <p>Teléfono: (+34) 945 254 269</p>
            </div>
        </div>
        <div class="derechos">
            <p>&copy; 2024 Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>
