<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Componentes</title>
</head>
<body>
    <h1>Componentes</h1>
    <h2>Listado de Componentes</h2>
    <ul>
        {% for componente in lista_componentes %}
        <li>
            {{ componente.referencia_componente }}: {{ componente.modelo_componente }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>