{% extends 'base.html' %}
{% block contenido %}
    <h2>Asignar componentes a producto: {{ producto.nombre_producto }}</h2>

    <form method="post">
        {% csrf_token %}
        <label for="componentes">Componentes disponibles:</label>
        <select name="componentes" multiple> <!--multiple para que se puedan escoger mas de 1 componente-->
            {% for componente in componentes %}
                <option value="{{ componente.pk }}">{{ componente.modelo_componente }}</option><!--valor que se obtiene pk de componente y valor visible el modelo del componente-->
            {% endfor %}
        </select>
        <input type="submit" value="Asignar componentes">
    </form>
    <h3>
        {% if componentes_asignados %}
            Componentes asignados:
        {% else %}
            Este producto no tiene componentes asignados.
        {% endif %}
    </h3>
    <ul>
        {% for componente_asignado in componentes_asignados %}
            <li>{{ componente_asignado.referencia_componente.modelo_componente }}</li><!--muestra el modelo de los componentes que el producto tiene asignado-->
        {% endfor %}
    </ul>
{% endblock %}
