{% extends 'base.html' %}
{% block contenido %}
    <form method="post">
        {% csrf_token %}
        <label for="producto_id">Producto:</label>
        <select name="producto_id" required>
            <option value="">Seleccione un producto</option>
            {% for producto in productos %}
                <option value="{{ producto.pk }}">{{ producto.nombre_producto }}</option>
            {% endfor %}
        </select><br>

        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" min="1" value="1" required><br>

        <input type="submit" value="Asignar producto">
    </form>
{% endblock %}