{% extends 'base.html' %}
{% block contenido %}
        <h2>Listado de componentes</h2>
        {% if componentes %}
            <ul>
                {% for componente in componentes %}
                	<li><a href="{% url 'componente_show' componente.referencia_componente %}">{{ componente.referencia_componente }} - {{ componente.modelo_componente }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay componentes creados.</p>
        {% endif %}
{% endblock %}