{% extends 'base.html' %}

{% block contenido %}
    <h2>Detalle del pedido</h2>

    {% if object %}
        <ul>
            <li>Fecha pedido: {{ object.fecha_pedido }}</li>
            <li>Cliente: {{ object.cif_cliente }}</li>
            <h3>Productos solicitados:</h3>
            <ul>
                {% for producto in object.contenidopedido_set.all %}
                    <li>{{ producto.referencia_producto }}: Cantidad: {{ producto.cantidad_producto }}</li>
                {% endfor %}
            </ul>
        </ul>
    {% else %}
        <p>No existe este pedido.</p>
    {% endif %}
{% endblock %}
