{% extends 'base.html' %}

{% block contenido %}
    <h2>Detalle del pedido</h2>
    {% if object %}
        <ul>
            <li>Estado: <span id="estado-pedido" class="{{ object.estado }}">{{ object.get_estado_display }}</span></li>
            <form id="form-estado" method="post" action="{% url 'actualizar_estado_pedido' object.pk %}">
                {% csrf_token %}
                <label for="estado">Cambiar Estado:</label>
                <select name="estado" id="estado">
                    {% for estado in object.ESTADO_CHOICES %}
                        <option value="{{ estado.0 }}" {% if object.estado == estado.0 %}selected{% endif %}>{{ estado.1 }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id="btn-actualizar">Actualizar Estado</button>
            </form>
            <li>Fecha pedido: {{ object.fecha_pedido }}</li>
            <li>Cliente: {{ object.cif_cliente }}</li>
            <li>Precio total: {{ object.precio_total }} €</li>
            <li><a href="{% url 'pedido_update' object.pk %}">Modificar pedido</a></li>
            <ul>
                {% for producto_pedido in object.contenidopedido_set.all %}
                    <li>
                        {{ producto_pedido.referencia_producto.nombre_producto }} ||
                        Precio: {{ producto_pedido.referencia_producto.precio_producto }} € ||
                        Cantidad: {{ producto_pedido.cantidad_producto }}
                        <form action="{% url 'eliminar_producto_pedido' object.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="producto_pedido_id" value="{{ producto_pedido.pk }}">
                            <button type="submit" class="boton-borrar">Eliminar este producto del pedido</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </ul>
        <a href="{% url 'asignar_productos_pedido' pk_pedido=object.pk %}">Asignar productos a este pedido</a>
    {% else %}
        <p>No existe este pedido.</p>
    {% endif %}
{% endblock %}
