{% extends 'base.html' %}
{% block contenido %}
    <h2>Listado de pedidos</h2>
    {% if pedidos %}
        <ul>
            {% for pedido in pedidos %}
                <li>
                    <a href="{% url 'pedidos_show' pedido.referencia_pedido %}">
                        {{ pedido.referencia_pedido }}.- {{ pedido.cif_cliente.nombre_empresa_cliente }} -
                        {{ pedido.fecha_pedido }} - Precio total: {{ pedido.precio_total }} €
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay pedidos creados.</p>
    {% endif %}
{% endblock %}