{% extends 'base.html' %}
{% block contenido %}
        <h2>Listado de pedidos</h2>
        {% if pedidos %}
            <ul>
                {% for pedido in pedidos %}
                	<li>
                        <a href="{% url 'pedidos_show' pedido.id %}">{{ pedido.referencia_pedido }}</a>
                        <a href="{% url 'pedidos_update' pedido.id %}">Actualizar</a>
                        <form method="POST" action="{% url "pedidos_delete" pedido.id%}">
                            {% csrf_token %}
                            <input type="submit" value="Eliminar">
                        </form>

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay pedidos creados.</p>
        {% endif %}
{% endblock %}