{% extends 'base.html' %}
{% block contenido %}
        <h2>Detalle del pedido</h2>
        {% if DetallePedido %}
            <ul>
                <li>{{ DetallePedido.pedido }}</li>
                <li>{{ DetallePedido.producto }}</li>
                <li>{{ DetallePedido.cantidad_producto }}</li>
                <li>{{ DetallePedido.precio_por_producto }}</li>


                <li>
                    <a href="{% url 'producto_index' pedido.id %}">Ver productos</a>
                </li>
            </ul>
        {% else %}
            <p>No existe este pedido.</p>
        {% endif %}
{% endblock %}

